


    @{
        Layout = "~/Views/Shared/Layout.cshtml";
    }





<div class="jumbotron">
    <h1 class="display-3">Bem - Vindos !!!</h1>
    <p class="lead">Sistema de Controle de Estoques.</p>
    <hr class="my-4">
    
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
   
</div>


<hr />

